body {
	background: GhostWhite;
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 4%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: indigo;
	text-shadow: 2px 2px 3px LightSteelBlue;
	letter-spacing: 2px;
}

address {
	text-align: right;
	color: sienna;
}

/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: underline;
}

img {
  border: thick;
}
