h1 {
    background-color: #79BEA8;
    color: #093426;
    font-family: Georgia, serif;
    text-align:center;

    font-size: 4vw;
    letter-spacing: 6px;
    text-shadow: 1px 2px 2px #448D76;
}
h2 {
    color: blue;
    font-family: Arial, serif;
}
body {
    margin-top:2%;
    margin-left:4%;
    margin-right:4%;
    background-color: #E7F3EF;
    color: #093426;
    font-size: 100%;
    font-family: verdana, sans-serif;
}
img {
    border: thick;
    border-color: yellow;
}
p {
    font-family: verdana, sans-serif;
}

 /* unvisited link */
a:link {
  color: #23483C;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #448D76;
  text-decoration: none;
}

/* mouse over link, selected link */
a:hover, a:active {
  background-color: #79BEA8;
  color: #E7F3EF;
  text-decoration: underline;
}

li {
    padding: 8px;
    margin-left: 32px;
}

address {
    font-size: 0.750em;
    font-family: Lucida Console, Monospace;
    text-align:right;
}
span {
    font-family: fantasy;
    color: yellow;
    background-color: green;
}

/* dropdown button https://www.w3schools.com/css/css_dropdowns.asp */


